*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: color 300ms, background-color 300ms;

  @media screen and (max-width: 500px) {
    font-size: 50%;
  }
}

:root {
  --bg-color: #ffffff;
  --color: #202124;
  --text: #ffffff;
  --light-blue: #1a73e8;
  --light-blue-hover: #1b66c9;
  --secondary-color: #dadce0;
  --button-bg: #f8f9fa;
  --button-color: #3c4043;
  --border-color: #dfe1e5;
  --dark-color: #f2f2f2;
  --footer-color: #70757a;
  --footer-border: #dadce0;
  --box-shadow: rgba(32, 33, 36, 0.28);
  --bg-hover: #eef0f1;
}

html[data-theme="dark"] {
  --bg-color: #202124;
  --color: #ffffff;
  --text: #202124;
  --light-blue: #8ab4f8;
  --light-blue-hover: #93baf9;
  --secondary-color: #3c4043;
  --button-bg: #303134;
  --button-color: #e8eaed;
  --border-color: #5f6368;
  --dark-color: #171717;
  --footer-color: #9aa0a6;
  --footer-border: #3c4043;
  --box-shadow: #171717;
  --bg-hover: #444546a3;
}

body {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: arial, sans-serif;
}

.link {
  color: var(--color);
  text-decoration: none;
  outline: none;
}

.header {
  padding: 14px;
  width: 100%;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  font-size: 1.4rem;
}

.btn {
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 9px 23px;
  font-size: 1.4rem;
  border-radius: 4px;
  cursor: pointer;
}

.primary-btn {
  background: var(--light-blue);
  color: var(--text);
}

.secondary-btn {
  background: var(--secondary-color);
  color: var(--button-color);
}

.section {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.google-img-container {
  height: 92px;
  width: 272px;
}

.google-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}

.form {
  padding: 20px;
  margin: 0 auto;
  width: 584px;
}

.form-container {
  position: relative;
  width: 100%;
}

.search-container {
  min-height: 44px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 6px 14px 0 14px;
  overflow: hidden;
  cursor: pointer;
}

.search-container:hover,
.search-container:hover .search-input,
.activeInput,
.activeInput > .search-input {
  background-color: var(--button-bg);
  border-color: transparent;
}

.search-container:hover,
.activeInput {
  box-shadow: 0 3px 10px var(--box-shadow);
}

.activeInput + .suggestion-container {
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
}

.hide-input-border-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: transparent;
}

.search-icon,
.clear-icon {
  height: 20px;
  width: 20px;
  fill: var(--footer-color);
}

.clear-icon {
  visibility: hidden;
}

.search-input {
  background-color: var(--bg-color);
  color: var(--button-color);
  width: 100%;
  min-height: 44px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0 14px;
  cursor: pointer;
}

.suggestion-container {
  background-color: var(--button-bg);
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 6px 0 var(--dark-color);
  border: 0;
  padding-bottom: 4px;
  display: none;
  position: absolute;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.divider {
  border-top: 0.4px solid var(--border-color);
  padding-bottom: 10px;
  margin: 0 20px;
}

.suggestion-list {
  list-style: none;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  gap: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.suggestion-item:hover {
  background-color: var(--bg-hover);
}

.search-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 18px 0;
  order: 1;
}

.footer {
  width: 100%;
  background-color: var(--dark-color);
  color: var(--footer-color);
  font-size: 1.4rem;
}

.location {
  padding: 15px 30px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid var(--footer-border);
}

.bottom-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  gap: 25px;
}

.bottom-footer ul li {
  cursor: pointer;
}

.bottom-footer ul li:hover {
  text-decoration: underline;
}

/* darkmode switch style start */
.toggle-switch {
  width: 100px;
  height: 50px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.toggle-switch:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

.darkmode-toggle:checked + .toggle-switch {
  background: #242424;
}
.darkmode-toggle:checked + .toggle-switch:after {
  left: 95%;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.toggle-switch,
.toggle-switch:after {
  transition: 0.3s;
}

.toggle-switch:active:after {
  width: 80px;
}

.toggle-switch svg {
  position: absolute;
  width: 28px;
  top: 10px;
  z-index: 100;
}

.toggle-switch svg.sun {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
.toggle-switch svg.moon {
  left: 62%;
  fill: #7e7e7e;
  transition: 0.3s;
}

input:checked + .toggle-switch svg.sun {
  fill: #7e7e7e;
}

input:checked + .toggle-switch svg.moon {
  fill: #fff;
}

/* darkmode switch style end */

@media only screen and (max-width: 1200px) {
  .bottom-footer {
    justify-content: space-around;
  }

  .section {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 620px) {
  .form {
    width: 100%;
  }

  .header-menu > li:not(:last-child) {
    display: none;
  }

  .section {
    padding-top: 20px;
  }

  .search-input {
    min-height: 30px;
  }

  .google-img-container {
    width: 50%;
    height: 92px;
    margin: 0 auto;
  }

  .bottom-footer {
    flex-direction: column;
    align-items: center;
  }

  .bottom-footer .left-footer {
    padding-bottom: 0;
  }

  .bottom-footer ul {
    gap: 10px;
  }
}
